<div class='row'>
    <div class='col-md-10 display-flex justify-center'>
        <h1 class='sing-game-title'>{{game.title}}</h1>
        <img class='sing-game-img' src={{game.img_url}}>
    </div>
</div>
