<head>
  <meta charset="UTF-8">
  <title>GameJunkee</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="row display-flex justify-space-between align-center p-2">
      <h1 class='home-icon ml-5'>
         GameJunkee! 
      </h1>
      <nav>
        {{#if logged_in}}
        <a class='profile-btn nav-btn mx-2' href='/profile'>profile</a>
        <button class='no-button nav-btn mx-2' id='logout'>logout</button>
        {{else}}
        <a class='login-btn nav-btn mx-2' id='login-btn' href="/login">LOGIN</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>

  {{#if logged_in}}
  <script src='/js/logout.js'></script>
  {{/if}}

</body>

</html>