{{!-- TODO:
        1.  wireframe this page
        2. 
--}}

<div class='row mt-4 justify-space-around new-post-card'>
    <div class='col-md-6'>
        <h1>Post Some Junk!</h1>

        <p>What did you like about this game? What did you dislike? Are you looking for other games like this one? Let your fellow gamers know!</p>

        <img class='posting-game-image' src='{{img_url}}'>
        <form class='form create-post'>
            <div class='form-group'>
                <label for='post-body'>Description</label>
                <textarea class='form-input' type='text' id='post-body'></textarea>
            </div>
            <div class='form-group'>
                <button type='submit' class='btn btn primary' data-id='{{id}}'>Submit Post</button>
            </div>
        </form>

    </div>



    <script src='/js/profile.js'></script>