<div class='row display-flex justify-center text-center'>

    <div class='col-md-6'>
        <h1>FIND A GAME</h1>

        <form class='form search-game'>
            <div class='form-group'>
                <label for='game-search'>&#127918 Enter Title Here &#127918 </label>
                <input class='form-input' type='text' id='game-search'>
            </div>
            <div class='form-group post-container'>
                <button type='submit' class='btn btn primary'>Search Game</button>
            </div>
        </form>

        <form class='form post-game'> 
            <div class='form-group'>
            </div>
        </form>

    </div>
</div>

<script src='/js/game.js'></script>