{{!-- TODO: 
        1. add a search bar at the top,
        2. add button for "Login or Sign Up" to top right corner
        3. figure out how to dynamically update with most recent posts 
--}}

<div class="home-card">
  <div class="home-card-header">
      <h2>GameJunkee</h2>
  </div>
  <div class="home-card-body">
      <h2>Most Recent Posts</h2>
    <p>
      Post 1
    </p>
    <p>
      Post 2
    </p>
    <p>
      Post 3
    </p>
  </div>
</div>

<script src='../public/js/login.js'></script>
