<div class='row display-flex justify-center text-center'>
    <div class='col-md-10 my-5'>
        <a class='menu-btn profile-button btn-primary' href='/profile'>PROFILE</a>
    </div>
    <div class='col-md-10 my-5'>
        <a class='menu-btn game-button btn-primary' href='/gamesearch'>SEARCH A GAME</a>
    </div>
    <div class='col-md-10 my-5'>
        <a class='menu-btn home-button btn-primary' href='/'>BACK HOME</a>
    </div>
</div>

<script src='/js/game.js'></script>
