<div class='row display-flex justify-center'>
    <div class='col-md-8'>
        <button class='menu-btn profile-button btn-primary'>PROFILE</button>
    </div>
        <div class='col-md-8'>
        <button class='menu-btn game-button btn-primary'>SEARCH A GAME</button>
    </div>
        <div class='col-md-8'>
        <button class='menu-btn home-button btn-primary'>BACK HOME</button>
    </div>
</div>