

<div class="row mb-5">
    <div class="col-auto">
        <h2 class='welcome'>Welcome, {{username}}!</h2>
    </div>
</div>


<div class='row justify-space-around new-post-card'>
<div class='col-md-5 two-libraries'>
    <a href='/junkyard'>
    <div class='junkyard-library'>
        <h1 class='library-txt'>Junkyard</h1>
    </div>
    </a>
</div>

<div class='col-md-5 two-libraries'>
    <a href='/profile-posts'>
    <div class='post-library'>
        <h1 class='library-txt'>Posts</h1>
    </div>
    </a>
</div>



      

</div>

<script src='/js/profile.js'></script>
