* {
    font-family: 'Poppins', sans-serif !important;
}

header, .project:not(:last-child) {
    border-bottom: 3px solid rgb(202, 115, 115);
  }
  
  header {
    background-color: #292929;
  }
  
#login-btn {
    color: yellow;
}
  
  
  
